.contact
  #section2 
    padding-top: 0
  
.page-template-default
  &:not(.home)
    #section4
      p 
        color: #fff

      .gform_wrapper 
      .gform_footer 
        input.button
          width: 300px
          height: 60px
          padding: 22px 70px 18px 70px
          background-color: #a07400
          text-transform: uppercase
          color: #ffffff
          font-family: noe-display-regular, sans-serif;
          font-size: 24px
          font-weight: normal
          border-radius: 0
          letter-spacing: 4px

          &:focus 
            outline: 0

          @include breakpoint (medium down)
            font-size: 24px

          @include breakpoint (small only)
            padding: 10px 40px 5px;
            font-size: 24px

.gform_confirmation_wrapper 
  .gform_confirmation_message
    color: #fff

.contact-section
  h2 
    font-weight: 500

.contact-form
  min-height: 870px
  background-size: cover
  background-repeat: no-repeat
  background-position: center

  @include breakpoint (small only)
    min-height: 0
    padding-top: 0 !important

  .contact-title 
    color: #a07400
    font-weight: 600
    letter-spacing: 1px 

  .container 

    @include breakpoint (small only)
      padding-left: 0
      padding-right: 0

    .col-sm-12
      @include breakpoint (small only)
        padding-left: 0
        padding-right: 0

  .section-title
    position: absolute
    transform: translateY(-110%)
    font-size: 130px
    line-height: 130px
    color: #fff
    font-weight: 500

    @include breakpoint (small only)
      display: none

  .section-title-mobile 
    display: none
    
    @include breakpoint (small only) 
      display: block
      transform: translateY(-50%);
      font-size: 110px;
      color: #fff
      line-height: 110px;
      font-weight: 500

  h6 
      font-size: 16px 
      color: #fff
      font-family: brandon-grotesque, sans-serif;
      text-transform: uppercase
      letter-spacing: 2px

      @include breakpoint (medium down)
        font-size: 14px

  p
    color: #27272a
    font-family: brandon-grotesque, sans-serif;
    font-size: 20px
    margin-bottom: 40px
    
    @include breakpoint (medium down)
      font-size: 20px

    @include breakpoint (small only)
      font-size: 16px

  .textbox-right
    .textbox 
      min-width: 640px
      background: #fff
      padding: 60px
      box-shadow: none

      @media (max-width: 1440px) 
        min-width: 0

      @include breakpoint (large down) 
        min-width: 0
      
      @include breakpoint (small only)
        padding: 40px

      h6 
        font-family: brandon-grotesque,sans-serif
        font-size: 16px
        color: #a07400
        text-transform: uppercase
        letter-spacing: 2px

      p 
        font-size: 20px

  .gform_wrapper 
  .gform_footer 
    input.button
      width: 300px !important
      padding: 22px 70px 18px 70px
      background-color: #a07400
      text-transform: uppercase
      color: #ffffff
      font-size: 24px
      font-weight: 700
      border-radius: 0
      letter-spacing: 4px

      &:focus 
        outline: 0

      @include breakpoint (medium down)
        font-size: 24px

      @include breakpoint (small only)
        padding: 10px 40px 5px;
        font-size: 24px

  .gform_wrapper 
  .hidden_label 
    input.large
      border: 0
      border-bottom: 2px solid #000000

      &:focus
        outline: 0

  .gform_wrapper 
  .top_label 
    input.large
      border: 0
      border-bottom: 2px solid #000000
      box-shadow: none

      &:focus
        outline: 0

  .gform_wrapper 
  div.validation_error
    font-size: 1em
    font-weight: 700
    margin-bottom: 25px
    border-top: 2px solid #fff
    border-bottom: 2px solid #fff
    padding: 16px 0
    clear: both
    width: 100%
    line-height: 24px
    background-color: #a17338
    color: #fff
    padding: 20px

  .gform_wrapper 
  .validation_message
    padding: 0
    color: #fff;
    background-color: #BA996E
    border-top: 0

  .gform_wrapper 
  li.gfield.gfield_error
    background-color: #BA996E
    border-top: 1px solid #C89797
    padding-bottom: 6px
    padding-top: 8px
    box-sizing: border-box

  .gform_wrapper
  li.gfield.gfield_error
    input.large
      border-bottom: 0

  .gform_wrapper 
  li.gfield.gfield_error.gfield_contains_required
    padding-left: 16px
    padding-right: 16px

  ::-webkit-input-placeholder
    font-family: sans-serif;
    color: #666
    font-size: 14px
    font-weight: 500
  
  ::-moz-placeholder
    font-family: sans-serif;
    color: #666
    font-size: 14px
    font-weight: 500
  
  :-ms-input-placeholder
    font-family: sans-serif;
    color: #666
    font-size: 14px
    font-weight: 500
  
  :-moz-placeholder
    font-family: sans-serif;
    color: #666
    font-size: 14px
    font-weight: 500


.page-id-161
  .contact-form

    input[type=text],
    textarea
      margin: 0

  .gform_wrapper .gfield_html.gfield_no_follows_desc
    padding-top: 30px

  .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_half, 
  .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_right_half
    padding-left: 0
    background-color: transparent

  .gform_wrapper li.gfield.gfield_error, 
  .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning
    background-color: transparent
    border-top: 0
    border-bottom: 0
    
  .gform_wrapper .validation_error 
    display: none

  .gform_wrapper .gfield_error .validation_message
    background-color: transparent
    color: #fff
    padding: 0
    margin: 0

  .gform_wrapper .gfield_error .instruction 
    display: none

  li.gfield.gfield_error.gfield_contains_required
    padding-left: 0

  .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description
    padding: 2px 5px
    color: #fff 
    background-color: #a07400

  .gform_wrapper .gfield_html.gfield_no_follows_desc 
    padding-top: 0

  .subpage-textbox
    padding-top: 40px

    p 
      margin-top: 0
      margin-bottom: 0

  .contact-content 
    h6 
      margin-bottom: 24px

    p 
      margin-top: 0
      margin-bottom: 0

  .office 
    font-size: 20px

    h6 
      margin-top: 0
      color: #fff
      
      a 
        color: #a07400
        text-decoration: none
        font-size: 14px

    p 
      margin-bottom: 0

  p, span
    color: #fff

.home 
  .contact-form 
    h6 
      color: #a07400

