.floor-plans-frame
  width: 100%
  height: 100vh
  display: flex
  justify-content: center

  @include breakpoint (xxlarge down) 
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px

  iframe
    @include breakpoint (xxlarge down)
      position: absolute;
      top: 0;
      left: 50%
      transform: translateX(-50%)
      width: 95%;
      height: 100%;

