.footer
  position: relative
  padding: 2rem 0
  z-index: 1

  .footer__logo,
  .footer__social
    margin-bottom: 30px
  .footer__logo
    img
      margin-bottom: 0
    img.greystarlogo
      max-width: 100px
    img.equalh
      max-width: 24px
  .footer__links
    color: #fff

    @include breakpoint(medium down)
      display: flex
      text-align: center
      align-items: center

    .footer__copyright
      display: inline-block
      font-family: brandon-grotesque, sans-serif
      color: #fff
      font-size: 16px
      text-align: center
      margin-bottom: 0
      padding-right: 15px
      border-right: 1px solid #fff
      line-height: 14px

      @include breakpoint(medium down)
        font-size: 12px
        margin-bottom: 18px
        border: 0;
        margin-right: 0

      @include breakpoint(small only)
        font-size: 14px        

    a 
      display: inline-block
      font-family: brandon-grotesque,sans-serif;
      font-size: 16px
      color: #fff
      border-right: 1px solid #fff
      padding: 0 15px
      text-decoration: none
      line-height: 14px
      cursor: pointer

      @include breakpoint(medium down)
        border: 0
        margin-bottom: 18px
        padding: 0 10px
        font-size: 12px

      &:last-child
        border-right: 0
        padding-right: 0

  .footer__social
    a 
      color: #a07400
      margin-bottom: 30px
      font-size: 16px
      text-decoration: none
      text-transform: uppercase
      font-weight: 700
      cursor: pointer
      transition: all .3s ease-in-out
      letter-spacing: 2px
      vertical-align: middle

      &:hover 
        color: #b38f33

      span 
        letter-spacing: 2px
        font-size: 16px

    .divider 
      color: #fff
      margin: 0 5px