.neighborhood
  #section3 
    padding-top: 100px
  
.page-id-152
  .google-map
    
    padding-bottom: 150px

    .markerLogo 
      display: block !important

    #tabs

      width: 100%

      ul 
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 50px
        list-style: none

        @include breakpoint (large down) 
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 0

        li 
          flex: 1 1 auto

          &.active
            a
              color: #a07400

          &:first-child 
            margin-left: 0

          h5 
            font-size: 24px
            text-align: center
            display: flex
            justify-content: center
            align-items: center
            height: 100%
            margin-bottom: 0

    ul, ol 
      font-family: 'benton-sans', sans-serif

      li 
        a 
          font-size: 15px
          font-family: 'benton-sans', sans-serif
          color: #ffffff
          text-transform: uppercase
          text-decoration: none
          padding: 20px

          @include breakpoint (large down) 
            padding: 10px 20px

    ol 
      li 
        counter-increment: count
        list-style: none
        position: relative
        margin-bottom: 10px

        &:before 
          content: counter(count)
          position: absolute
          left: -15%
          top: 0
          font-family: 'benton-sans', sans-serif

        &:nth-child(-n+9):before
          content: '0'counter(count)

  .reversed
    order: 2
    justify-content: center
    display: flex
    align-items: center

    @media (max-width: 767px)
      order: 0

    @media (max-width: 640px)
      order: 0

  header

    #logo 
      a 
        &:hover
          img:first-of-type
            display: block

          img:last-of-type
            display: none

  &.scrolled
    #logo 
      a 
        &:hover
          img:first-of-type
            display: none
          
          img:last-of-type
            display: block

  #section1
    padding-bottom: 0

    .grid-x
      padding-top: 50px
      padding-bottom: 0

      .copy 
        display: flex
        align-items: center
        position: relative
        color: #fff
        padding-right: 30px
        font-family: 'benton-sans', sans-serif
        font-size: 16px
        font-weight: 300
        line-height: 28px

        p 
          padding-right: 50px

.home 
  .google-static-map
    
    padding: 0

    #map 
      width: 100%;
      height: 1000px
      background-color: gray
      border: 20px solid #a07400

      @media (max-width: 1920px) 
        height: 900px

      @media (max-width: 1600px) 
        height: 800px

      @media (max-width: 1440px)
        height: 700px

      @media (max-width: 1366px)
        height: 700px

      @media (max-width: 1024px)
        height: 600px
        border: 5px solid #a07400

      @include breakpoint (medium down)
        height: 400px

      @include breakpoint (small only) 
        height: 400px

        