.header
  width: 100%
  height: 130px
  position: relative
  background: #131313
  background: -moz-linear-gradient(-45deg, #131313 20%,#4c4c4c 100%)
  background: -webkit-linear-gradient(-45deg, #131313 20%,#4c4c4c 100%)
  background: linear-gradient(90deg,#131313 20%,#4c4c4c 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#131313, endColorstr=#4c4c4c)
  box-sizing: border-box 
  z-index: 1

  @include breakpoint (medium down) 
    height: 100px

  &.padded
    @include breakpoint (small only)
      padding: 0
  
  .container-fluid
    height: 100%
    padding-left: 0
    padding-right: 0

  .row 
    position: relative
    height: 100%
    margin-left: 0
    margin-right: 0

    
    @include breakpoint (medium down)
      flex-direction: column
      align-items: center !important

  .social-left
    width: 340px
    margin-right: auto
    visibility: hidden

    @include breakpoint (small only)
      width: 100%

  .logo
    display: flex
    align-items: center
    position: absolute
    left: 50px
    top: 50%
    transform: translateY(-50%)
    margin-bottom: 0
    z-index: 9999

    @include breakpoint (medium down)
      max-width: 140px
      margin-bottom: 24px

  h1
    margin-bottom: 0    

  .social-right
    position: absolute
    display: flex
    align-items: flex-end
    right: 0
    bottom: 20px

    @include breakpoint (medium down)
      position: static
      width: 100%
      margin-left: 0
      margin-bottom: 0
      justify-content: center

    @include breakpoint (small only)
      width: 100%

    a 
      font-family: brandon-grotesque,sans-serif
      font-weight: 700
      font-size: 16px
      padding: 0 10px
      text-transform: uppercase
      text-decoration: none
      color: #a17338
      letter-spacing: 2px

      @include breakpoint (small only)
        font-size: 11px
      
      &:first-child
        border-right: 1px solid #a17338

      &:last-child
        border-left: 1px solid #a17338
        margin-right: 0
        padding-right: 0

      @include breakpoint (small only)
        &:last-child
          padding-right: 10px

.home

  position: relative

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    -webkit-animation-name: bgFade 
    animation-name: bgFade 
    z-index: 10
    animation-delay: 3.5s
    -webkit-animation-duration: 4s
    animation-duration: 4s
    -webkit-animation-fill-mode: both
    animation-fill-mode: both

  @keyframes bgFade 
    0% 
      background-color: #000000
    100% 
      background-color: transparent
      z-index: 0