.homepage-hero

  position: relative
  height: 100vh
  margin-bottom: 300px

  @media (max-width: 1024px)
    padding-top: 100px
    margin-bottom: 200px

  @media (max-width: 1023px) and (orientation: landscape) 
    padding-top: 0

  @media (max-width: 640px) 
    margin-bottom: 0

  .vimeo-wrapper
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    pointer-events: none
    overflow: hidden
    
    iframe
      width: 100vw
      height: 56.25vw
      min-height: 100vh
      min-width: 177.77vh
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .heroTab
    position: fixed
    right: -87px
    top: 50%
    transform: translateY(-50%) rotate(-90deg)
    width: 242px
    height: 69px
    background-color: #a07400
    text-align: center
    font-size: 18px
    font-family: brandon-grotesque,sans-serif
    color: #fff
    line-height: 69px
    cursor: pointer
    font-weight: bold
    text-transform: none
    z-index: 5

  .responsive 
    display: none

  .hero-content
    width: 100%
    height: 100%
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    z-index: 9999

    @media (max-width: 1366px) 
      transform: scale(0.55) translateY(0%)

    @media (max-width: 823px)
      transform: scale(0.55) translateY(0%)

    @media (max-width: 1366px) and (orientation: landscape)
      transform: scale(0.55) translateY(0%)
      height: auto

    @media (max-width: 823px) and (orientation: landscape)
      transform: scale(0.55) translateY(0%)
      height: auto

  .fadeInStarter
    @media (max-width: 1366px) and (orientation: landscape)
      display: none !important

  .grid-container 
    position: relative

  .grid-container,
  .grid-x 
    height: 100%

    .cell 
      position: relative

  img 
    &:first-of-type
      margin-bottom: 24px

    &:last-of-type
      margin-bottom: 80px

  .headline
    position: absolute
    left: 0
    bottom: 0
    font-size: 130px
    line-height: 130px
    font-family: noe-display-regular, sans-serif
    font-weight: normal
    color: #fff
    text-transform: capitalize
    transform: translateY(50%)

    @include breakpoint (large down) 
      left: 50px
      font-size: 130px
      line-height: 130px
      
    @include breakpoint (medium down) 
      display: none

      &.responsive 
        display: block
        font-size: 30px 
        line-height: 40px
        position: static
        text-align: center

  .tagline
    font-size: 26px
    color: #fff
    text-transform: uppercase
    font-weight: 600
    margin: 0
    line-height: 1

    @include breakpoint (medium down) 
      font-size: 20px
      text-align: center