.images-and-copy
  .img-container
    &.img-left

      position: relative

      @include breakpoint (small only)
        display: block
        width: 100%
        transform: none !important
        justify-content: flex-end
        order: 1

      @include breakpoint (small only)
        transform: none !important
        width: 100%
        max-width: 100%
        height: auto
        margin-left: 0

      img 
        width: 520px
        height: auto
        max-width: none
        margin-left: 5%

        @include breakpoint (large down) 
          width: 450px

        @include breakpoint (medium down) 
          width: 330px

        @include breakpoint (small only) 
          width: 100%
          transform: none !important
          margin-left: 0

      .bg
        display: block
        position: absolute
        left: 5%
        width: 401px
        height: 519px

        @media (min-width: 768px)
          left: 0

        @include breakpoint (large down) 
          width: 300px
          height: 360px

        @include breakpoint (small only) 
          display: none

  .img-container
    &.img-right

      position: relative

      @include breakpoint (large down)
        display: flex
        align-items: center
        width: 100%

      img 
        width: 520px
        height: auto
        margin-left: 5%

        @include breakpoint (large down) 
          width: 450px

        @include breakpoint (medium down) 
          width: 330px

        @include breakpoint (small only) 
          width: 100%
          transform: none !important
          margin-left: 0

      .bg
        display: block
        position: absolute
        right: 0
        width: 433px
        height: 520px  

        @media (min-width: 768px)
          right: 0

        @include breakpoint (medium down) 
          width: 300px;
          height: 360px;

        @include breakpoint (small only) 
          display: none

  .textbox-container 
    display: flex
    position: relative
    align-items: center
    z-index: 2

    &.textbox-left
      .textbox 
        padding: 60px 120px 60px 0
        min-width: 640px

        @media (max-width: 1440px) 
          min-width: 0

        @include breakpoint (large down)
          min-width: 0

        @include breakpoint (medium down) 
          padding: 0

        h6 
          font-family: brandon-grotesque,sans-serif
          font-size: 16px
          color: #a07400
          text-transform: uppercase
          letter-spacing: 2px

        p 
          font-size: 20px

    &.textbox-right
      .textbox 
        padding: 60px
        min-width: 640px

        @media (max-width: 1440px) 
          min-width: 0

        @include breakpoint (large down) 
          min-width: 0

        @include breakpoint (medium down)
          padding: 0

        h6 
          font-family: brandon-grotesque,sans-serif
          font-size: 16px
          color: #a07400
          text-transform: uppercase
          letter-spacing: 2px

        p 
          font-size: 20px

.page
  &:not(.home)
    .images-and-copy
      .textbox-container
        .textbox 

          @include breakpoint (xlarge down)
            min-width: 0

          @include breakpoint (large down) 
            transform: translateX(0%) !important

          h6 
            color: #a07400
            font-family: brandon-grotesque,sans-serif
            text-transform: uppercase
            letter-spacing: 2px

            &.white 
              color: #fff

          p 
            color: #fff;
            font-family: brandon-grotesque,sans-serif;
            font-size: 20px

      .textbox-left 
        .textbox 
          position: relative

          .decorative
            position: absolute
            left: 40%
            bottom: calc(-250px + 20px)
            transform: translateX(-50%)
            width: 1px
            height: 250px
            z-index: -1

            @include breakpoint (xlarge down)
              height: 250px

            @include breakpoint (medium down)
              height: 180px

            @include breakpoint (small only)
              display: none

            .line
              animation: 2.5s showLine1
              animation-fill-mode: forwards
              transition-timing-function: ease-in-out
              animation-delay: 1s
              background-color: #777

            .circle
              width: 17px
              height: 17px
              margin-left: -8px
              border: 1px solid #777
              border-radius: 100%
              animation-fill-mode: forwards
              transition-timing-function: ease-in-out
              transition-duration: 1500ms
              animation-delay: 1s

      .textbox-right
        .textbox
          min-width: 640px
          position: relative
          background-color: transparent

          @include breakpoint (xlarge down)
            min-width: 0

          @include breakpoint (large down) 
            transform: translateX(0%) !important

          p 
            color: #fff;
            font-family: brandon-grotesque,sans-serif;
            font-size: 20px;

            span 
              font-size: 14px;
              letter-spacing: 1px;

          ul 
            margin-left: 0
            list-style: none

            li 
              color: #fff
              font-size: 16px
              letter-spacing: 1px
              font-weight: 600

        .decorative
          position: absolute
          left: 50%
          bottom: calc(-150px + 20px)
          transform: translateX(-50%)
          width: 1px
          height: 150px
          z-index: -1

          @include breakpoint (xlarge down)
            height: 250px

          @include breakpoint (medium down)
            height: 180px

          @include breakpoint (small only)
            display: none

          .line
            animation: 2.5s showLine1
            animation-fill-mode: forwards
            transition-timing-function: ease-in-out
            animation-delay: 1s
            background-color: #777

          .circle
            width: 17px
            height: 17px
            margin-left: -8px
            border: 1px solid #777
            border-radius: 100%
            animation-fill-mode: forwards
            transition-timing-function: ease-in-out
            transition-duration: 1500ms
            animation-delay: 1s
          
      .img-container
        &.img-left
          img 

            @include breakpoint (small only) 
              margin-left: 0
              width: 100%
              transform: none !important
            
          .bg
            width: 401px
            height: 519px

            @include breakpoint (medium down) 
              width: 300px 
              height: 360px

.home
  .textbox-container
    &.textbox-left
      .textbox
        padding: 60px
        background: #fff

        .decorative
          position: absolute
          top: 95%
          left: 50%
          width: 1px
          height: 250px
          z-index: -1

          @include breakpoint (xlarge down)
            height: 250px

          @include breakpoint (medium down)
            height: 180px

          @include breakpoint (small only)
            display: none

          .line
            animation: 2.5s showLine1
            animation-fill-mode: forwards
            transition-timing-function: ease-in-out
            animation-delay: 5000ms
            background-color: #777

          .circle
            width: 17px
            height: 17px
            margin-left: -8px
            border: 1px solid #777
            border-radius: 100%
            animation-fill-mode: forwards
            transition-timing-function: ease-in-out
            transition-duration: 1500ms
            animation-delay: 5000ms

    &.textbox-right 
      .textbox 
        padding: 60px
        background: #fff

        .decorative
          position: absolute
          top: 100%
          left: 50%
          width: 1px
          height: 300px
          z-index: -1

          @include breakpoint (xlarge down)
            height: 300px

          @include breakpoint (medium down)
            height: 180px

          @include breakpoint (small only)
            display: none

          .line
            animation: 2.5s showLine1
            animation-fill-mode: forwards
            transition-timing-function: ease-in-out
            animation-delay: 5000ms
            background-color: #777

          .circle
            width: 17px
            height: 17px
            margin-left: -8px
            border: 1px solid #777
            border-radius: 100%
            animation-fill-mode: forwards
            transition-timing-function: ease-in-out
            animation-delay: 5000ms
            transition-duration: 1500ms