.page-template-default
  &:not(.home)
    .images-and-copy
      .img-container
        &.img-right
          transform: translateX(0%) !important

        @include breakpoint (small only)
          display: block
          width: 100%
          transform: none !important
            

      .textbox-container
        display: flex
        position: relative
        flex-direction: flex-end
        align-items: center
        z-index: 2

        .textbox
          min-width: 450px
          max-width: 450px
          position: relative     
          transform: translateX(0%)
          background: transparent

          @include breakpoint (medium down) 
            min-width: 0
            max-width: 100%

          h6 
            font-size: 16px 
            color: #a07400
            font-family: brandon-grotesque, sans-serif;
            text-transform: uppercase
            letter-spacing: 2px

            &.white 
              color: #fff

          ul 
            list-style: none 
            margin-left: 0

            li 
              color: #fff 
              font-size: 16px
              letter-spacing: 1px
              font-weight: 600

          p
            color: #fff
            font-family: brandon-grotesque, sans-serif;
            font-size: 20px

            @include breakpoint (small only)
              font-size: 16px

            span 
              font-size: 14px
              letter-spacing: 1px

          @include breakpoint (large down)
            &:before
              bottom: -184px

            &:after 
              top: 52%
        