.gallery-slider
  padding: 0

  &>.grid-container

    position: relative

  .heroTab
    position: fixed
    right: -87px
    top: 50%
    transform: translateY(-50%) rotate(-90deg)
    width: 242px
    height: 69px
    background-color: #a07400
    text-align: center
    font-size: 18px
    font-family: brandon-grotesque,sans-serif
    color: #fff
    line-height: 69px
    cursor: pointer
    font-weight: bold
    text-transform: none
    z-index: 10

.tab-wrapper 
  .tab-content
    &.tab-pager
      position: relative
      display: none

.image-grid,
.video-grid
  display: flex
  align-content: space-evenly
  justify-content: center
  flex-wrap: wrap
  margin: 80px 0 0

.tab-wrapper 
  .tab-content 
    .image-grid 
      a
        padding: 8px
        display: block

.tab-wrapper 
  .tab-content 
    .image-grid 
      a 
        img
          display: block
          margin: auto

.slider-tabs 
  padding: 0 0 50px 0
  margin-bottom: 150px
  border-bottom: 1px solid #fff

  @include breakpoint (large down) 
    margin-bottom: 50px
  
.gallery-controls 
  button
    background: none
    color: #bd9c59
    padding: 0
    margin-right: 50px
    font-size: 1.250rem
    font-family: brandon-grotesque,sans-serif
    letter-spacing: 0

    &:last-child
      margin-right: 0
    
    &:hover
      color: #bd9c59

    &:after
      content: none
    
.media-container,
.gallery-container
  display: flex
  align-content: space-evenly
  flex-wrap: wrap
  margin: 2rem 0 8rem

  .mix
    //flex-basis: calc(100%/3)
    padding: 8px

    img
      display: block
      margin: auto

.tabs

  display: flex
  justify-content: center
  background: transparent
  border: none

  li
    margin-right: 50px

    @include breakpoint (large down) 
      margin-right: 0

    &:last-child 
      margin-right: 0

    a 
      font-size: 1.250rem
      font-family: brandon-grotesque,sans-serif
      font-weight: 600
      color: #fff 
      text-transform: uppercase

    &.current-tab 
      a 
        position: relative
        color: #a07400

        &:after 
          content: ''
          position: absolute
          left: 50%
          bottom: -10px
          width: 10px
          height: 10px
          border: 1px solid #a07400
          border-radius: 100%
          transform: translateX(-50%)

.tab-wrapper
  position: relative
  width: 100%
  height: auto
  z-index: 5

  &.page-wrapper
    margin-bottom: 0

  .tab-content
    width: 100%
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 1;
    opacity: 0
    display: none
    transition: opacity 0.2s ease

    &.tab-pager
      position: relative
      display: none

      &.current-tab
        display: block
  
    &.current-tab
      z-index: 100
      opacity: 1
      display: block
      transition-delay: .2s
    
    .image-grid a
      margin: 8px
      width: 275px
      height: 275px
      display: block
      background-size: cover
      background-repeat: no-repeat

      @include breakpoint (large down)
        width: 150px
        height: 150px

      img
        display: block
        margin: auto

.image-slider-section
  width: 100%

.slide-wrapper
  position: relative
  z-index: 1001
  margin-bottom: 3rem

  .image-slider .image img
    width: 100%
    display: block

.image-slider .image-slide
  background-size: cover
  background-repeat: no-repeat
  background-position: center center !important
  height: 400px

  @include breakpoint(large)
    height: 800px

.slide-controls
  position: absolute
  bottom: 0
  left: 0
  padding: .5rem
  color: #fff
  width: 100%
  height: 100%

  .slide-counter 
    background: #fff
    display: flex
    justify-content: center
    color: #000
    align-items: center
    width: 150px
    position: absolute
    bottom: 3px
    left: 50%
    transform: translateX(-50%)
  
  span 
    display: inline-block
    padding: 16px
    text-align: center

  .slick-prev,
  .slick-next
    width: auto
    height: auto
    color: #fff
    padding-bottom: 0
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    top: 50%
    transform: translateY(-50%)
    padding: 30px
    width: 80px
    height: 80px
    border-radius: 100%

    @include breakpoint (small only) 
      width: 60px
      height: 60px

  .slick-prev 
    left: 50px
    border: 1px solid #fff
    text-decoration: none

    @include breakpoint (small only) 
      left: 20px

  .slick-next
    right: 50px
    border: 1px solid #fff
    text-decoration: none

    @include breakpoint (small only) 
      right: 20px

    .icon.arrow
      width: 30px
      //fill: $text-color;

      &:hover
        //fill: $dark

    &:before
      content: none

