.page-id-152
  .google-map
    ul, ol 
      font-family: 'benton-sans', sans-serif

      li 
        a 
          font-size: 16px
          font-family: 'benton-sans', sans-serif
          color: #bd9c59

    ol 
      li 
        counter-increment: count
        list-style: none
        position: relative
        margin-bottom: 10px

        &:before 
          content: counter(count)
          position: absolute
          left: -15%
          top: 0
          font-family: 'benton-sans', sans-serif

        &:nth-child(-n+9):before
          content: '0'counter(count)

  .reversed
    order: 2
    justify-content: center
    display: flex
    align-items: center

    @media (max-width: 767px)
      order: 0

    @media (max-width: 640px)
      order: 0

  header

    #logo 
      a 
        &:hover
          img:first-of-type
            display: block

          img:last-of-type
            display: none

  &.scrolled
    #logo 
      a 
        &:hover
          img:first-of-type
            display: none
          
          img:last-of-type
            display: block

  #section1
    padding-bottom: 0

    .grid-x
      padding-top: 50px
      padding-bottom: 0

      .copy 
        display: flex
        align-items: center
        position: relative
        color: #fff
        padding-right: 30px
        font-family: 'benton-sans', sans-serif
        font-size: 16px
        font-weight: 300
        line-height: 28px

        p 
          padding-right: 50px

  #section4
    padding-bottom: 50px

  #section3,
  #section6
    padding-bottom: 100px

    h2 
      margin-bottom: 0

      @media (max-width: 1023px)
        margin-bottom: 60px

  #section3
    padding-top: 0

    @media (max-width: 1023px)
      padding-bottom: 50px

    a 
      padding-bottom: 0
      display: inline-block;
      color: #bd9c59

    .alta-button
      a 
        color: #fff

  #section4 
    @media (max-width: 1023px)
      padding-top: 50px

  #section5
    padding-top: 0

    .floor-plan-description
      display: none
      
      .floor-plan-img,
      .floor-plan-cta
        display: flex
        align-items: center