body
  color: black
  background-image: url(/wp-content/themes/broadstone-pullman/assets/images/body-bg.jpg)
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  background: #131313
  background: -moz-linear-gradient(-45deg, #131313 20%,#4c4c4c 100%)
  background: -webkit-linear-gradient(-45deg, #131313 20%,#4c4c4c 100%)
  background: linear-gradient(90deg,#131313 20%,#4c4c4c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#4c4c4c',GradientType=1)

  @include breakpoint (medium down) 
    //background: #131313

main 
  section
    &:last-of-type 
      .decorative 
        display: none

.alignnone
  margin: 5px 20px 20px 0

.aligncenter,
div.aligncenter
  display: block
  margin: 5px auto 5px auto

.alignright
  float: right
  margin: 5px 0 20px 20px

.alignleft
  float: left
  margin: 5px 20px 20px 0

.aligncenter
  display: block
  margin: 5px auto 5px auto

a img.alignright
  float: right
  margin: 5px 0 20px 20px

a img.alignnone
  margin: 5px 20px 20px 0

a img.alignleft
  float: left
  margin: 5px 20px 20px 0

a img.aligncenter
  display: block
  margin-left: auto
  margin-right: auto

.wp-caption
  background: #fff
  border: 1px solid #f0f0f0
  max-width: 96%
  padding: 5px 3px 10px
  text-align: center

.wp-caption.alignnone
  margin: 5px 20px 20px 0

.wp-caption.alignleft
  margin: 5px 20px 20px 0

.wp-caption.alignright
  margin: 5px 0 20px 20px

.wp-caption img
  border: 0 none
  height: auto
  margin: 0
  max-width: 98.5%
  padding: 0
  width: auto

.wp-caption p.wp-caption-text
  font-size: 11px
  line-height: 17px
  margin: 0
  padding: 0 4px 5px

video.wp-video-shortcode,
.wp-video-shortcode video
  display: inline-block
  max-width: 100%

#section1

  .container 
    padding-left: 0
    padding-right: 0

#section6
  position: relative
  background-color: #000000
  background-image: url(/wp-content/uploads/2019/11/footer-bg.png)
  background-size: cover
  background-position: center bottom
  background-repeat: repeat-x

  @include breakpoint (medium down) 
    padding: 100px 0 150px 0

  &:after
    content: '';
    display: block
    width: 100%
    height: 125px
    position: absolute
    left: 0
    bottom: 0
    background-image: url(/wp-content/uploads/2019/11/footer-pattern.png)
    background-repeat: repeat-x
    background-position: center

    @include breakpoint (medium down)
      height: 140px

  .grid-x
    height: 100%

    .section__logo
      margin-top: auto
      margin-bottom: 240px

      @include breakpoint (medium down) 
        margin-bottom: 20px

    .section__copyright
      font-family: brandon-grotesque, sans-serif;
      font-weight: 600
      color: #fff
      margin-top: auto
      margin-bottom: 50px
      text-align: center
      text-transform: uppercase
      letter-spacing: 2px

      @include breakpoint (medium down) 
        margin-bottom: 0

      @include breakpoint (small only)
        font-size: 12px
        letter-spacing: 0

.white-popup
  position: relative
  background: #FFF
  padding: 0
  width: auto
  max-width: 800px
  margin: 20px auto
  z-index: 9999

  .cta-bottom

    padding: 60px 100px

    h3 
      color: #a07400
      text-transform: uppercase
      font-family: brandon-grotesque, sans-serif
      font-size: 1rem
      font-weight: 600

.mfp-wrap 
  z-index: 999999

body:not(rtl) .white-popup .gform_wrapper form.gf_simple_horizontal div.gform_footer.top_label
  margin: 0 auto 
  text-align: center

.white-popup .gform_wrapper form.gf_simple_horizontal div.gform_body 
  max-width: 100% 
  display: block 
  margin-bottom: 40px

.white-popup .gform_wrapper form.gf_simple_horizontal div.gform_footer.top_label 
  display: block 

.white-popup .gform_wrapper form.gf_simple_horizontal div.gform_footer.top_label input[type=submit] 
  background-color: #a07400
  padding: 1em 2em
  border-radius: 0
  text-transform: uppercase

.mfp-close-btn-in .mfp-close 
  color: #fff

.white-popup .gform_wrapper div.validation_error 
  color: #a07400
  border-top: 2px solid #a07400 
  border-bottom: 2px solid #a07400

.white-popup .gform_wrapper li.gfield.gfield_error 
  border-top: 1px solid #a07400 
  border-bottom: 1px solid #a07400
  background: rgba(160,116,0, 0.1)

.white-popup .gform_wrapper .ginput_container_phone .instruction 
  display: none

.white-popup .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
.white-popup .gform_wrapper li.gfield_error textarea
  border: 1px solid #a07400

.white-popup .gform_wrapper .validation_message
  color: #a07400

.white-popup .gform_wrapper 
  margin-bottom: 0

.mfp-bg 
  opacity: 0.95
  z-index: 999999
  

