.standard-content
    text-align: center
    h2,h3,h4,h5,h6
        font-family: brandon-grotesque,sans-serif
        color: #a07400
        text-transform: uppercase
        letter-spacing: 2px
    h6
        font-size: 16px
    p 
        font-size: 20px
        color: #fff
    a
        color: #fff