.subpage-hero
  position: relative
  height: 60vh
  margin-bottom: 200px

  @include breakpoint (large down)
    height: 600px
    margin-bottom: 100px

  @include breakpoint (medium down)
    height: 240px
    margin-bottom: 50px

  .heroTab
    position: fixed
    right: -87px
    top: 50%
    transform: translateY(-50%) rotate(-90deg)
    width: 242px
    height: 69px
    background-color: #a07400
    text-align: center
    font-size: 18px
    font-family: brandon-grotesque,sans-serif
    color: #fff
    line-height: 69px
    cursor: pointer
    font-weight: bold
    text-transform: none
    z-index: 10

  .grid-container
    height: 100%

  .grid-x
    height: 100%

  .cell
    position: relative

  img 
    position: absolute
    top: 40%
    left: 50%
    transform: translate(-50%, -50%)

  .headline
    position: absolute
    left: 0
    bottom: 0
    font-size: 130px
    line-height: 130px
    font-family: noe-display-regular, sans-serif
    font-weight: normal
    color: #fff
    text-transform: capitalize
    transform: translateY(50%)
      

    @include breakpoint (xlarge down)
      transform: translateY(42%) 

    @include breakpoint (medium down)
      font-size: 52px
      line-height: 52px
      transform: translateY(42%);

  img
    &:first-of-type 
      top: calc(45% + 10px)

    &:last-of-type
      top: calc(53% + 10px)

  .tagline
    position: absolute
    top: calc(58% + 10px)
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 26px
    color: #fff
    text-transform: uppercase
    font-weight: 600

.residences,
.amenities,
.neighborhood,
.contact,
.floor-plans,
  #section1 
    padding-bottom: 0