@keyframes lineDraw
  0%
    height: 0
    background: #fff
    transform: translateY(0)
    opacity: 1

  10%
    height: 50px

  20% 
    transform: translateY(-12.5vh)
    height: 100px

  30% 
    transform: translateY(-25vh)
    height: 150px

  40% 
    transform: translateY(-37.5vh)
    height: 150px

  50%
    transform: translateY(-47.5vh)
    height: 100px

  60%
    height: 75px
    opacity: 1

  70%
    height: 50px
    opacity: 1

  80%
    height: 25px
    opacity: 1

  90%
    height: 10px

  100% 
    transform: translateY(-57.5vh)
    height: 0
    opacity: 0

@keyframes lineDraw2
  0%
    transform: translateY(0)
    height: 0
    opacity: 1

  10%
    height: 50px

  20% 
    transform: translateY(-12.5vh)
    background: #fff
    height: 100px

  30% 
    transform: translateY(-25vh)
    background: #fff
    height: 150px

  40%
    transform: translateY(-37.5vh)
    height: 150px

  50%
    transform: translateY(-47.5vh)
    background: #fff
    height: 100px

  60%
    height: 75px
    opacity: 1

  70%
    height: 50px
    opacity: 1

  80%
    height: 25px
    opacity: 0

  90%
    height: 10px
    opacity: 0

  100% 
    transform: translateY(-57.5vh)
    height: 0
    opacity: 0

