.bodymovin-wrapper
  width: 130px
  height: 130px
  display: flex
  justify-content: center
  align-items: center
  z-index: 9999
  position: relative
  margin: 0 0 30px 0
  padding: 0

  #bodymovin
    width: 100%
    height: 100%

    