.button
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 1.5em 2em
  border: none
  margin-top: 1.5rem
  width: 220px
  height: 63px
  background-color: #a07400
  text-align: center
  font-size: 16px
  font-family: brandon-grotesque,sans-serif
  color: #fff
  line-height: 63px
  cursor: pointer
  font-weight: bold
  border-radius: 0
  text-decoration: none
  text-transform: uppercase
    
  &:hover
    background: lighten(#a07400, 5%)

  .icon
    margin-left: .75em

button
  width: 300px
  max-width: 100%
  height: 60px
  padding: 22px 0 18px
  background-color: #a07400
  text-transform: uppercase
  color: #fff
  font-family: brandon-grotesque,sans-serif
  font-size: 16px
  font-weight: 700
  border-radius: 0
  letter-spacing: 2px
  outline: 0
  border: 0
  transition: .3s all ease-in-out

  &:hover 
    opacity: 0.8
