.section--floorplans
  padding-top: 0 !important
.fp-filter
  list-style: none
  display: flex
  flex-wrap: wrap
  margin-bottom: 2rem
  justify-content: center
  li
    margin-right: 1rem
    
    a
      text-decoration: none
      color: white
      font-family: brandon-grotesque,sans-serif
      text-transform: uppercase
      font-weight: 600
      letter-spacing: 2px
      &:hover
        color: #a07400
    &.is-active
      a
        color: #a07400
      
#floor-plans
  padding-top: 0 !important
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  
  .fp-listing
    background-color: #fff
    max-width: 450px
    box-shadow: 0 0px 0px 2px transparent
    position: relative
    flex-basis: 350px
    margin-bottom: 2rem
    
    
    &:after
      content: ''
      position: absolute;
      top: 0
      left: 0
      width: 100%;
      height: 100%;
      box-shadow: 0 0px 0px 2px #a07400
      opacity: 0
      transition: opacity 0.2s easing
      z-index: 0
    &:hover::after
      opacity: 1
    .fp-listing--image,
    .fp-listing--content
      position: relative
      z-index: 100
    .fp-listing--image
      padding: 2rem
      text-align: center
    .fp-listing--content
      padding: 2rem
      background-color: #f0f0f0
      .fp-listing--title,
      .fp-listing--info
        letter-spacing: 2px
        font-family: brandon-grotesque,sans-serif
        text-transform: uppercase
        color: #27272a !important
      .fp-listing--title
        span.meta-insert
          font-size: 1rem
          text-transform: none
      .fp-listing--info
        margin-top: 0
        margin-bottom: 0
        a
          color: #a07400
          text-decoration: none
          font-weight: 700
#floor-plans.active-elements
  .fp-listing
    &:not(.is-active)
      display: none
    &.is-active
      display: block
    
    