.home
  .lineDraw
    width: 8px
    opacity: 0
    display: block
    position: absolute
    bottom: 0
    left: calc(50% - 35px)
    background: #fff
    animation: lineDraw 3.1s linear forwards
    z-index: 100

    @media (max-width: 1366px) 
      width: 4px
      left: calc(50% - 19px)
      bottom: -3.25vh

  .lineDraw2
    width: 8px
    opacity: 0
    display: block
    position: absolute
    bottom: 0
    left: calc(50% - 19px)
    background: #fff
    height: 200px
    text-align: center
    animation: lineDraw2 3.1s linear forwards
    z-index: 100

    @media (max-width: 1366px) 
      width: 4px
      left: calc(50% - 11px)
      bottom: -3.25vh
  
  .animated
    background-repeat: no-repeat
    background-position: left top
    -webkit-animation-fill-mode: both
    animation-fill-mode: both
    z-index: 9999

  .fadeInStarter
    animation-delay: 0s
    -webkit-animation-duration: 1.5s
    animation-duration: 1.5s

  .fadeIn
    -webkit-animation-name: fadeIn
    animation-name: fadeIn
    animation-delay: 0s
    -webkit-animation-duration: .5s
    animation-duration: .5s

  .fadeIn2
    -webkit-animation-name: fadeIn
    animation-name: fadeIn 
    animation-delay: 2s
    -webkit-animation-duration: 4s
    animation-duration: 4s

  .fadeIn3 
    -webkit-animation-name: fadeIn 
    animation-name fadeIn 
    animation-delay: 2.75s 
    -webkit-animation-duration: 4s
    animation-duration: 4s

  .fadeIn4
    -webkit-animation-name: fadeIn 
    animation-name fadeIn 
    animation-delay: 3.5s
    -webkit-animation-duration: 4s
    animation-duration: 4s

@keyframes fadeIn
  0% 
    opacity: 0
    //background: #000

  99%
    //background: #000

  100% 
    opacity: 1
    background: transparent

  
