.header__nav
  width: 100%;
  display: flex
  padding: 0
  z-index: 2

  .grid-x 
    .menu
      @include breakpoint (medium down)
        display: none

  .grid-x,
  .menu 
    width: 100%

    ul 
      width: 100%
      display: flex
      justify-content: center
      max-width: 770px
      margin-left: auto
      margin-right: auto
      // @include breakpoint (large)
      //   max-width: 900px
      // @include breakpoint (xlarge)
      //   max-width: none
      @include breakpoint (xlarge)
        max-width: none
      li
        margin-top: 0
        margin-right: 1.5rem
        margin-bottom: 0

        

      a
        color: #fff
        font-family: brandon-grotesque,sans-serif;
        
        font-weight: 600
        font-size: 14px
        padding: .7rem 0rem
        text-decoration: none
        text-transform: uppercase
        transition: .3s all ease-in-out

        @include breakpoint (medium) 
          font-size: 16px
          padding: 0

        &:hover 
          color: #a07400

.header__nav_offcanvas

  visibility: hidden 
  opacity: 0 
  height: 0

  #links 

    @include breakpoint (medium down) 
      justify-content: center

    padding-top: 30px
    flex-direction: column
    align-items: center
    display: none

    span 
      color: #fff 
      margin-bottom: 30px
      text-decoration: none
      text-transform: uppercase
      font-weight: 700
      letter-spacing: 1px 
      transition: .3s all ease-in-out

      &:hover 
        color: #a07400
      
      @include breakpoint (medium down) 
        margin-right: 0

    a 
      display: block
      color: #fff
      margin-bottom: 16px
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700
      cursor: pointer
      transition: .3s all ease-in-out

      &:hover 
        color: #a07400
        //margin: 0 20px 20px

      @include breakpoint (medium) 
        font-size: 12px
        display: inline-block
        margin: 0 1rem
        

    .divider 
      @include breakpoint (xlarge down)
        display: none

.is-open 
  .header__nav_offcanvas
    content: ''
    width: 100% 
    height: 100vh
    position: fixed
    top: 0
    left: 0
    background: #000
    opacity: 1
    visibility: visible
    padding-top: 100px
    z-index: 9998

    // @include breakpoint (xlarge down)
    //   padding-top: 130px

    ul 
      flex-direction: column
      align-items: center
      max-width: 770px
      margin: auto
      // @include breakpoint () 
      //   flex-direction: row
      //   justify-content: center
      //   margin-left: auto
      //   margin-right: auto

      li 
        text-align: center
        

        a 
          font-family: noe-display-regular,sans-serif
          font-size: 24px
          color: #fff
          text-transform: uppercase
          line-height: 1

          &:hover 
            color: #a07400
            
          @include breakpoint (medium) 
            font-size: 30px
          @include breakpoint (xlarge) 
            font-size: 40px
          @media (min-width: 1200px) and (max-height: 1000px )
            font-size: 30px

  #links
    display: block
    text-align: center

    .social 
      display: inline-block
    
    // @media (max-width: 1000px) and (orientation: landscape)
    //   display: flex
    //   flex-direction: row
    //   justify-content: center

      a 
        margin-right: 20px

    // @media (max-width: 1280px) and (orientation: portrait)
    //   flex-direction: column 
    //   align-items: center
    //   font-size: 20px 

    //   .social 
    //     display: block

.header__nav_oncanvas
  height: 100% 

  .grid-x 
    height: 100%
