.is-open #promo-bar
  display: none
#promo-bar
  position: relative
  z-index: 1

  #promo
    width: 100%
    height: 100px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: #fff
    background: #003D52
    z-index: 10000
    cursor: pointer
    #promo-inner
      max-width: 1200px
      margin: auto
      width: 85%
    @media (max-width: 767px) 
      height: 80px
      padding: 0 35px
    a
      text-decoration: underline
      color: #fff
    h3, h4
      margin-bottom: 0
      color: #fff
      text-align: center 
      font-family: brandon-grotesque,sans-serif
      text-transform: uppercase

    h3 
      font-size: 18px
      margin-bottom: 12px
      letter-spacing: 4px
      margin-bottom: 0

      @media (max-width: 767px) 
        display: block
        text-align: center
        line-height: 24px
        font-size: 14px
        margin-bottom: 0

    h4 
      font-size: 16px
      font-style: normal
      text-transform: uppercase
      text-decoration: underline
      font-weight: bold

      @media (max-width: 767px)
        display: block
        text-align: center
        line-height: 24px
        font-size: 12px

      &:before
        content: '*'
        display: inline-block
        font-size: 18px


    .promo__close
      width: 40px
      height: 40px
      position: absolute
      right: 1%
      top: 50%
      transform: translateY(-50%)
      cursor: pointer

      @media (max-width: 767px)
        width: 20px
        height: 20px
        bottom: -30px

      @media (max-width: 640px)
        width: 30px
        height: 30px
        bottom: -30px

      .promo-link,
      .promo-link__outer
        display: inline-block
        overflow: visible
        margin: 0
        padding: 0
        cursor: pointer
        transition-timing-function: linear
        transition-duration: .15s
        transition-property: opacity,filter
        text-transform: none
        color: #000
        border: 0
        background-color: transparent
        z-index: 5

      .promo-link__icon
        background: #fff
        transition-delay: .12s
        transition-timing-function: cubic-bezier(.215,.61,.355,1)
        transform: rotate(45deg)
        transition-duration: 75ms
        top: 50%
        display: block
        margin-top: 0
        position: absolute
        width: 40px
        height: 2px
        transition-property: transform
        border-radius: 4px

        @media (max-width: 767px)
          width: 20px

        @media (max-width: 767px)
          width: 20px

        &:before,
        &:after
          content: ''
          position: absolute
          width: 40px
          height: 2px
          border-radius: 4px
          background-color: #fff

        &:before
          top: 0
          transition: top 75ms ease,opacity 75ms ease .12s
          opacity: 0

        &:after
          bottom: 0
          transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s
          transform: rotate(-90deg)
          background-color: #fff

        @media (max-width: 767px)
          &:before,
          &:after
            width: 20px

        @media (max-width: 767px)
          &:before,
          &:after
            width: 20px