.acf-flexible-content .layout.-collapsed > .acf-fc-layout-handle,
.acf-flexible-content .layout > .acf-fc-layout-handle {
  background-color: #0085ba;
  color: #fff !important;
}

.acf-flexible-content .layout .acf-fc-layout-handle {
  color: #fff;
}

/* [data-name="add-layout"],
[data-name="add-layout"],
.-plus,
.-minus {
  display: none !important
} */