@font-face
  font-family: 'noe-display-regular'
  src: url('../assets/fonts/noe-display-regular.eot') format('eot')
  src: url('../assets/fonts/noe-display-regular.woff') format('woff')
  font-weight: normal
  font-style: normal

::-webkit-scrollbar
  width: 0px
  background: transparent
  
html
  margin-top: 0 !important
  background: white
  box-sizing: border-box
  overflow-x: hidden
  overflow-y: scroll
  text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  -webkit-tap-highlight-color: transparent

html 
  &.is-open 
    height: 100%
    overflow: hidden

    body 
      height: 100%
      overflow: hidden 

*,
*:before,
*:after
  box-sizing: inherit

body
  z-index: 1

section 
  padding: 150px 20px

body 
  &:not(.home) 
    section 

      @include breakpoint (small only) 
        padding-left: 30px !important
        padding-right: 30px !important

main
  background: transparent

  @include breakpoint (medium down) 
    margin-top: 0 !important

article,
aside,
figure,
footer,
header,
hgroup,
section
  display: block

body,
button,
input,
select,
textarea
  font: 16px/1 $body-font-family

button 
  cursor: pointer

img
  height: auto
  max-width: 100%

.site 
  position: relative
  padding: 0

.content
  min-height: 800px