// Typography

// Generate heading classes based on heading tags
$headings: 'h1' 'h2' 'h3' 'h4' 'h5' 'h6'

@each $heading in $headings
  .display-#{$heading}
    @extend #{$heading}

// Accessibility
.screen-reader-text
  clip: rect(1px, 1px, 1px, 1px)
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus
  background-color: #f1f1f1
  border-radius: 3px
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6)
  clip: auto !important
  color: #21759b
  display: block
  font-size: 14px
  font-size: 0.875rem
  font-weight: bold
  height: auto
  left: 5px
  line-height: normal
  padding: 15px 23px 14px
  text-decoration: none
  top: 5px
  width: auto
  z-index: 100000

.padded
  padding: 0 35px

.section 
  &.nopadding-top 
    padding-top: 0

  &.nopadding-bottom 
    padding-bottom: 0

  &.paddingtop-small
    padding-top: 50px

    @include breakpoint(medium down) 
      padding-top: 30px

  &.paddingbottom-small
    padding-bottom: 50px

    @include breakpoint(medium down) 
      padding-bottom: 30px

  &.paddingtop-medium
    padding-bottom: 100px

    @include breakpoint(medium down) 
      padding-top: 30px

  &.paddingbottom-medium
    padding-bottom: 100px

    @include breakpoint(medium down) 
      padding-bottom: 30px

  &.paddingtop-large
    padding-top: 150px

    @include breakpoint(medium down) 
      padding-top: 30px

  &.paddingbottom-large
    padding-bottom: 150px

    @include breakpoint(medium down) 
      padding-bottom: 30px

  &.paddingtop-xlarge
    padding-top: 200px

    @include breakpoint(medium down) 
      padding-top: 30px

  &.paddingbottom-xlarge
    padding-bottom: 200px

    @include breakpoint(medium down) 
      padding-bottom: 30px

  &.paddingtop-xxlarge
    padding-top: 250px

  &.paddingbottom-xxlarge
    padding-bottom: 250px

header 
  &.header 
    .logo 
      &.visible 
        visibility: visible 

    &.fixed-header 
      width: 100%
      position: fixed
      top: 0
      z-index: 10000 !important
      transition: .2s all ease-in-out
      -webkit-animation: stickyFadeIn .2s ease-in alternate
      -moz-animation: stickyFadeIn .2s ease-in alternate
      animation: stickyFadeIn .2s ease-in alternate

@keyframes stickyFadeIn
  from
    opacity: 0
  to
    opacity: 1