h1, h2, h3, h4, h5, h6
  margin-top: 1.5rem

  &:first-child
    margin-top: 0

h1
  font-size: responsive 36px 130px
  font-range: 420px 1600px
  font-weight: 900
  line-height: 1

h2
  font-size: responsive 32px 80px
  font-range: 420px 1600px
  font-weight: 800
  line-height: 1.2

h3
  font-size: responsive 24px 30px
  font-range: 420px 1600px
  font-weight: 700
  line-height: 1.2

h4
  font-size: responsive 20px 24px
  font-range: 420px 1600px
  font-weight: 700
  line-height: 1.5

h5
  font-size: 18px
  font-weight: 700

h6
  font-size: 16px
  font-weight: 700
  line-height: 1.5

p
  margin-top: 1.5rem
  color: $grey
  font-size: 16px
  font-weight: 400
  line-height: 1.5

  &:first-child
    margin-top: 0

ul
  margin-top: 1.5rem
  margin-bottom: 0

  &:first-child
    margin-top: 0

li
  margin-top: 0.5rem
  color: $grey
  font-size: 16px
  font-weight: 400
  line-height: 1.5

a
  text-decoration: underline
  transition: color 0.3s ease-out-cubic

  &:hover
    color: black

  .has-text-white &:hover
    color: $primary

strong
  color: inherit

hr
  height: 3px
  margin: 2rem 0
  background: black
  outline: none
  border: none

h1, h2, h3, h4, h5, h6
  font-family: noe-display-regular, sans-serif
